.country {
  //display: block;
  //padding: 10px;
}

.country__header {
  background-color: #0683c9;
  transition: height 0.3s;
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
}

.country__currency-info {
  clear: both;
  display: block;
  padding: 0 15px 15px;
}

.country__header_2 {
  display: block;
  font-size: 20px;
  padding-bottom: 10px;
}

.country__description {
  display: block;
  padding-bottom: 8px;
  &.country__description--ta-center {
    text-align: center;
  }
}

.country__currency-image-list {
  padding: 40px 0;
}

.country__currency-image {
  display: block;
  width: 100%;
}

.country__currency-image-link {
  clear: both;
  width: 150px;
  float: left;
  min-width: 40%;
  margin-left: 8%;
  margin-bottom: 7%;
  &,
  &:active,
  &:focus,
  &:hover,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

.country__currency-image-link--odd {
  clear: none;
  float: right;
  margin-right: 8%;
  margin-left: 0;
}

.country__flag {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  width: 320px;
  max-width: 100%;
  border: 1px solid #777;
  border-radius: 4px;
}

@media only screen and (max-width: 480px) {
  .country__currency-image-link {
    float: none;
    display: block;
    margin: 0 auto 5%;
    width: 100%;
  }
}
