.home-cards {
  display: block;
  column-width: 100px;
  column-gap: 10px;
}

.country-card {
  display: inline-block;
  background-color: #dcdcdc;
  text-decoration: none;
  text-align: center;
  color: #212121;
  font-family: Trebuchet MS, sans-serif;
  width: 100px;
  word-break: break-word;
}

$flagWidth: 76px;

.country-card__flag {
  display: block;
  width: $flagWidth;
  height: $flagWidth * 3 / 4;
  margin: 0 auto;
}




