.home-cards {
  display: block;
  -webkit-column-width: 100px;
  -webkit-column-gap: 10px;
  column-width: 100px;
  column-gap: 10px;
  text-align: center;
}

.country-card {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #212121;
  font-family: "Trebuchet MS", sans-serif;
  width: 100px;
  word-break: break-word;
  margin-bottom: 33px;
  font-size: 14px;
  line-height: 1.15;
}

.country-card__flag {
  display: block;
  width: 76px;
  height: 57px;
  margin: 0 auto;
  margin-bottom: 4px;
  border: 1px solid #777;
  border-radius: 4px;
}

.country-card__currency {
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5;
}


