.home-cards {
  display: block;
}

.home-cards__colums {
  clear: both;
  -webkit-column-width: 100px;
  -webkit-column-gap: 10px;
  column-width: 100px;
  column-gap: 10px;
  text-align: center;
  @extend .clear-self;
}

.country-card {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: #212121;
  font-family: "Trebuchet MS", sans-serif;
  width: 100px;
  word-break: break-word;
  margin-bottom: 33px;
  font-size: 14px;
  line-height: 1.15;
}

.country-card__flag {
  background-repeat: no-repeat;
  width: 76px;
  height: 57px;
  margin: 0 auto;
  margin-bottom: 4px;
  border: 1px solid #777;
  border-radius: 4px;
}

.country-card__currency {
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.5;
}

.country-card__text {
  margin: 0 3px;
}

.country-card__founded-text {
  background-color: #ff7700;
}

.home-cards__search-input {
  clear: both;
  display: block;
  width: 272px;
  margin: 0 auto 18px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.home-cards__did-not-found-country {
  padding: 10px;
}

.about-link {
  float: right;
  padding-top: 14px;
  text-decoration: none;
  margin-right: 17px;
  margin-bottom: 19px;

  &,
  &:visited,
  &:active {
    color: #00c;
    border-bottom: 1px solid #00c;
  }

  &:hover {
    border-bottom-color: transparent;
  }

}
