html {
  min-height: 100%;
}

body {
  background-color: #f9f9f9;
  color: #212121;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 14px;
  line-height: 1.15;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.single-image {
  display: block;
  padding: 40px;
}

#wrappppper {
  width: 200px;
  height: 200px;
}